NodeRed_mosquitto/flows funzionante.json
[
    {
        "id": "c29f7298e995f31a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad0e2af247c6677b",
        "type": "group",
        "z": "c29f7298e995f31a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c0d8db577d7f9e54",
            "389dcbc6555f3acd",
            "4916140a24740ab1",
            "3a920fcb9fd6311d"
        ],
        "x": 54,
        "y": 59,
        "w": 592,
        "h": 142
    },
    {
        "id": "c0d8db577d7f9e54",
        "type": "mqtt out",
        "z": "c29f7298e995f31a",
        "g": "ad0e2af247c6677b",
        "name": "",
        "topic": "test/data",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f3ec6113173a7ab7",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "eef3ccb061c87802",
        "type": "mqtt in",
        "z": "c29f7298e995f31a",
        "name": "",
        "topic": "test/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "f3ec6113173a7ab7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 131,
        "y": 319,
        "wires": [
            [
                "2ea2fe24d574b3aa"
            ]
        ]
    },
    {
        "id": "389dcbc6555f3acd",
        "type": "inject",
        "z": "c29f7298e995f31a",
        "g": "ad0e2af247c6677b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ciao",
        "payloadType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "4916140a24740ab1"
            ]
        ]
    },
    {
        "id": "4916140a24740ab1",
        "type": "data-generator",
        "z": "c29f7298e995f31a",
        "g": "ad0e2af247c6677b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "text",
        "template": "({{int 0 10000}},'{{firstName}} {{lastName}}','{{city}}')",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "c0d8db577d7f9e54"
            ]
        ]
    },
    {
        "id": "3a920fcb9fd6311d",
        "type": "comment",
        "z": "c29f7298e995f31a",
        "g": "ad0e2af247c6677b",
        "name": "generazione casuale dati",
        "info": "genero casualmente dati tramite la funzione\ndata generator e la pubblico sulla coda MQTT",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "2ea7090fdab6982e",
        "type": "postgresql",
        "z": "c29f7298e995f31a",
        "name": "",
        "query": "INSERT INTO persona_script(id_pers,name,city) VALUES\n{{{msg.payload}}};",
        "postgreSQLConfig": "a86200be6a8f4e14",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 590,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "349faf4fddf5d7e1",
        "type": "debug",
        "z": "c29f7298e995f31a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 711,
        "y": 439,
        "wires": []
    },
    {
        "id": "2ea2fe24d574b3aa",
        "type": "join",
        "z": "c29f7298e995f31a",
        "name": "Buffer",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 101,
        "y": 539,
        "wires": [
            [
                "8cbca8945988c729"
            ]
        ]
    },
    {
        "id": "97d9e905346aa459",
        "type": "comment",
        "z": "c29f7298e995f31a",
        "name": "PROSSIMO PASSO",
        "info": "OK con il join aspetta che arrivino 5 mex\nprima che manda i dati al CSV.\n\nDA FARE:\nImplementare funzione che permetta \ndi prendere i 5 valori dal CSV e che\ncostruisca una stringa per fare \nl'insert di piu campi contemp\n\n\nINSERT INTO persona_script VALUES\n(\n{{{msg.payload.id_pers}}},'{{{msg.payload.name}}}','{{{msg.payload.city}}}'\n);\n\n{{int 0 100000}}.{{firstName}} {{lastName}}.{{city}}\n",
        "x": 250,
        "y": 680,
        "wires": []
    },
    {
        "id": "8cbca8945988c729",
        "type": "function",
        "z": "c29f7298e995f31a",
        "name": "crea_query",
        "func": "var array=msg.payload;\nvar multipleQuery=\"\";\nfor (var i = 0; i < array.length; i++) {\n    multipleQuery+=array[i];\n    if(i<array.length-1)\n     multipleQuery+=\",\";\n\n}\nmsg.payload=multipleQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 520,
        "wires": [
            [
                "2ea7090fdab6982e"
            ]
        ]
    },
    {
        "id": "cf01539ac3939e5a",
        "type": "data-generator",
        "z": "c29f7298e995f31a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "text",
        "template": "{\n    \"name\": \"{{firstName}} {{lastName}}\",\n    \"work\": \"{{company}}\",\n    \"email\": \"{{email}}\",\n    \"address\": \"{{int 1 100}} {{street}}\",\n    \"country\": \"{{country}}\"\n}",
        "x": 380,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f3ec6113173a7ab7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.112.2",
        "port": "1883",
        "clientid": "client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "10000",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a86200be6a8f4e14",
        "type": "postgreSQLConfig",
        "name": "DB_test",
        "host": "192.168.112.3",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "test_script",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "mattia",
        "userFieldType": "str",
        "password": "admin",
        "passwordFieldType": "str"
    }
]